<launch>
  <!-- rosbag playback -->
  <arg name="bag" />
  <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag) -q -d 3 -s 30"/>

  <!-- mapping pipeline -->
  <arg name="camera" default="rail_240_180"/>
  <arg name="config" default="default"/>
  <arg name="map_out" default="/tmp/_map.txt"/>
  <node name="hough2map" pkg="hough2map" type="hough2map" output="screen">
    <rosparam command="load" file="$(find hough2map)/config/$(arg config).yaml" />
    <rosparam command="load" file="$(find hough2map)/config/cam/$(arg camera).yaml" />
    <param name="output/map_file" value="$(arg map_out)"/>
  </node>

  <!-- event visualization -->
  <node name="dvs_renderer_events" pkg="dvs_renderer" type="dvs_renderer">
    <param name="display_method" value="red-blue"/>
    <param name="num_event_msgs" value="1"/>
    <remap from="events" to="/dvs/events" />
    <remap from="image" to="/dvs/image_raw" />
    <remap from="camera_info" to="/dvs/camera_info" />
  </node>

  <!-- display -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hough2map)/rviz/h2m_default.rviz" />

</launch>
